// Inside a variable scss we are add color , font name 
$primary-color: #FFC01E;
$secondary-color: #0085FF;
$white-color: #ffffff;

$Inria-font: "Inria Serif", serif;
$Alice-font: "Alice", serif;
$Domine-font: "Domine", serif;
$Rye-font: "Rye", serif;
$Sedan-font: "Sedan SC", serif;

