@media screen and (min-width: 1400px) and (max-width: 1599px){
    // *** LG Desktop Responsive ***
}

@media screen and (min-width: 1200px) and (max-width: 1399px){
    // *** MD Desktop Responsive ***
    .container-wrapper{
        max-width: 1140px;
    } 
} 

@media screen and (min-width: 992px) and (max-width: 1199px) {
    // *** Desktop Responsive ***
    .container-wrapper{
        max-width: 960px;
    }
    html{
        font-size: 12.93px;
    }
    .hero-sec { 
        gap: 2.3125rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    // *** Tablet Responsive ***
    .container-wrapper{
        // max-width: 720px;
        max-width: 100%;
        padding: 0 24px;
    } 



}



@media screen and (max-width: 767px) {
    // *** Mobile Responsive ***
    .container-wrapper{
        // max-width: 540px;
    }

        // Header Start 
        header{
            .desktop-header{
                display: none;
            }
            .mobile-header{
                display: block;
            }
        }
        // Header End
}