@import url("https://fonts.googleapis.com/css2?family=Alice&family=Domine:wght@400..700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rye&family=Sedan+SC&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: url(../img/background-img.png) no-repeat center;
  background-size: cover;
  position: relative;
}

.container-wrapper {
  max-width: 1320px;
  margin: auto;
}

.bg-left-line {
  position: absolute;
  left: 0;
  bottom: 0;
}

.bg-right-line {
  position: absolute;
  right: 2.8125rem;
  top: 0;
  height: 100%;
}

header {
  border-bottom: 1px solid white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .header-main-wrapper {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-main-wrapper .header-left-sec {
  display: flex;
  align-content: center;
}
header .header-main-wrapper .header-left-sec .menu-button {
  min-height: 100px;
  display: flex;
  gap: 12px;
  align-items: center;
  border-right: 1px solid #ffffff;
  margin-right: 24px;
  padding-right: 2.625rem;
}
header .header-main-wrapper .header-left-sec a {
  color: #ffffff;
  font-size: 1.125rem;
  font-family: "Inria Serif", serif;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
}
header .header-main-wrapper .header-left-sec .social-links {
  display: flex;
  align-items: center;
  gap: 18px;
}
header .header-main-wrapper .header-left-sec .social-links a {
  font-size: 1.5rem;
}
header .header-main-wrapper .header-right-sec ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
header .header-main-wrapper .header-right-sec ul li {
  position: relative;
}
header .header-main-wrapper .header-right-sec ul li::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 1px;
  background-color: #ffffff;
  top: 50%;
  right: -1.5rem;
  transform: translateY(-50%);
}
header .header-main-wrapper .header-right-sec ul li:last-child::after {
  content: unset;
}
header .header-main-wrapper .header-right-sec ul a {
  font-size: 1.125rem;
  font-family: "Inria Serif", serif;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
  color: #ffffff;
  display: flex;
  gap: 8px;
  align-items: center;
}
header .mobile-header {
  display: none;
}

.hero-sec {
  position: relative;
  display: flex;
  align-items: center;
  padding: 42px 0;
  gap: 3.3125rem;
}
.hero-sec .hero-content-sec {
  max-width: 48.75rem;
}
.hero-sec .hero-content-sec .sub-heading {
  font-size: 1.5rem;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
  color: #FFC01E;
  margin-bottom: 24px;
}
.hero-sec .hero-content-sec .heading-1 {
  font-size: 3.25rem;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 24px;
}
.hero-sec .hero-content-sec .para {
  font-size: 1.125rem;
  font-family: "Domine", serif;
  font-weight: bold;
  line-height: 2.25rem;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 24px;
}
.hero-sec .hero-content-sec .btn {
  display: inline-block;
  font-size: 1.125rem;
  font-family: "Alice", serif;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background: #0085FF;
  margin-bottom: 2.625rem;
}
.hero-sec .hero-content-sec .gallery-sec {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero-sec .hero-content-sec .gallery-sec li {
  position: relative;
}
.hero-sec .hero-content-sec .gallery-sec li::after {
  content: "";
  position: absolute;
  width: 14.9375rem;
  height: 14.9375rem;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/gallery-bg-linear.svg) no-repeat center;
  background-size: contain;
  z-index: -1;
}
.hero-sec .hero-img-sec {
  max-width: 32.35625rem;
  width: 100%;
  flex-shrink: 0;
}/*# sourceMappingURL=style.css.map */